<!DOCTYPE html>
<html lang="es" ng-app="app">
<head ng-app>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
	<script src="js/script.js"></script>
	<link rel="stylesheet" href="../css/index.css">
	<link rel="stylesheet" href="../css/bootstrap.
	min.css">
</head>
<body>
	<div class="lg-user col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
		<section class="tit-section">
			<div class="logos">
				<div class="edu-logo-book"></div>
				<div class="edu-logo-hat"></div>
			</div>
		</section>
		<h2>Logeo de usuario</h2>
		<section class="ctn-section">
			<input type="email" class="form-control imp-lg-top" id="exampleInputEmail1" placeholder="Ingrese el Usuario">
			<input type="email" class="form-control imp-lg-bottom" id="exampleInputEmail1" placeholder="Ingrese la Contrase&ntilde;a">
		</section>
		<section class="btn-section">
			<a href="#" class="btn-enter">
			</a>
		</section>
	</div>
	<!-- <div>
  		<label>Name:</label>
  		<input type="text" ng-model="yourName" placeholder="Enter a name here">
  		<hr>
  	<h1>Hello {{yourName}}!</h1>
	</div>
	<input type="text" ng-model="yourName" placeholder="Enter a name here">
  	<hr>
  	<h1>Hello {{yourName}} !</h1>
  	<h1>{{mensaje}}</h1> -->
</body>	
</html>