<!DOCTYPE html>
<html lang="es" ng-app="app">
	<head ng-app>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
		<script src="js/script.js"></script>
		<link rel="stylesheet" href="../../static/css/index.css">
		<link rel="stylesheet" href="../../static/css/bootstrap.
		min.css">
	</head>
	<body>
		<div class="lg-user col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
			<section class="tit-section">
				<!-- <img src="../img/logo-adbox.png" alt=""> -->
				<div class="logos">
					<div class="edu-logo-book"></div>
					<div class="edu-logo-hat"></div>
				</div>
			</section>
			<div class="tit-form">
				<h2>Bienvenido <kbd> Adbox </kbd></h2>	
			</div>
			<section class="ctn-section">
				<input type="email" class="form-control input-lg imp-lg-top" id="exampleInputEmail1" placeholder="Ingrese el Usuario">
				<input type="email" class="form-control input-lg imp-lg-bottom" id="exampleInputEmail1" placeholder="Ingrese la Contrase&ntilde;a">
			</section>
		</div>
		<div class="btn-section col-xs-12">
			<a href="#" class="btn-enter"></a>
			<br>
			<a href="#">Olvido la contrase&ntilde;a <kbd>?</kbd></a>
			<p><kbd>Adbox</kbd> caja de administraci&oacute;n</p>
		</div>
		<!-- <div>
	  		<label>Name:</label>
	  		<input type="text" ng-model="yourName" placeholder="Enter a name here">
	  		<hr>
	  	<h1>Hello {{yourName}}!</h1>
		</div>
		<input type="text" ng-model="yourName" placeholder="Enter a name here">
	  	<hr>
	  	<h1>Hello {{yourName}} !</h1>
	  	<h1>{{mensaje}}</h1> -->
	</body>
</html>