{% extends "base.html" %}
{% block title %} Inicio 2 {% endblock %}
{% block header %} {{str_name}} {% endblock %}
{% block content %}
	<section class="work-area col-xs-10 col-xs-offset-1">
		<div class="rpt-personas rpt">
			<table>
				<thead>
					<tr>
						<th class="btn-action"></th>
						<th>Tipo Doc.</th>
						<th>Nro. Documento</th>
						<th>Nombres</th>
						<th>Estado</th>
						<th>Pagos Pendientes</th>
						<th>Hijos</th>
						<th class="btn-action"></th>
						<th class="btn-action"></th>
						<th class="btn-action"></th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody>
					<script type="text/javascript">
						$(function () { $('[data-toggle="tooltip"]').tooltip(); });
					</script>
					{% for apo in ar_apoderados %}
						<tr>
							<td class="ico-id">{{apo.tid}}</td>
							<td>{{apo.tdoc}}</td>
							<td>{{apo.nrodoc}}</td>
							<td class="apo-nom">{{apo.nomco}}</td>
							<td>{{apo.estado}}</td>
							<td>{{apo.pagpen}}</td>
							<td>{{apo.nrohijos}}</td>
							<td class="on-tooltip">
								<a href="" class="ico-table ico-update" data-toggle="tooltip" data-placement="left" title="Modificar"></a>
							</td>
							<td class="on-tooltip">
								<a href="" class="ico-table ico-view" data-toggle="tooltip" data-placement="top" title="Visualizar"></a>
							</td>
							<td class="on-tooltip">
								<a href="" class="ico-table ico-delete" data-toggle="tooltip" data-placement="right" title="Eliminar"></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}