<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Adbox - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<section class="col-xs-12 col-sm-2 menu-options">
		<ul class="nav nav-pills nav-stacked">
			<li class="li-logo"></li>
			<li class="li-item"><a href=""><span class="glyphicon glyphicon-bullhorn"></span>Facturación</a></li>
			<li class="li-item"><a href=""><span class="glyphicon glyphicon-pencil"></span>Inventario</a></li>
			<li class="li-item"><a href=""><span class="glyphicon glyphicon-send"></span>Delivery</a></li>
			<li class="li-item"><a href=""><span class="glyphicon glyphicon-th-list"></span>Reportes</a></li>
			<li class="li-item"><a href=""><span class="glyphicon glyphicon-heart-empty"></span>Ventas</a></li>
			<li class="li-item"><a href=""><span class="glyphicon glyphicon-shopping-cart"></span>Compra</a></li>
			<li class="li-item"><a href=""><span class="glyphicon glyphicon-log-out"></span>Salir</a></li>
		</ul>
	</section>
	<section class="col-xs-12 col-sm-10 user-content">
		<div class="user-avatar">
			<img src="img/mumbox.png" alt="">
		</div>
		<div class="user-data">
			<p class="user-name">Kelvin Arnold Flores Ticona</p>
			<p class="user-grade">Gerente de Area</p>
		</div>
	</section>
	<section class="col-sm-10 col-sm-offset-2">
		<section class="cubo-index">
			<div class="cube">
				<div class="front"></div>
				<div class="back"></div>
				<div class="right"></div>
				<div class="left"></div>
				<div class="top"></div>
				<div class="bottom"></div>
			</div>
		</section>
	</section>
	<!-- <section class="content">
		{% block content %}{% endblock %}
	</section>
	<footer>
		<p>Prueba Plantillas</p>
	</footer> -->
</body>
</html>