{% extends "base.html" %}
{% block title %} Inicio {% endblock %}
{% block header %} {{str_name}} {% endblock %}
{% block content %}
	<section class="main-menu col-xs-12">
		<div class="main-menu-items">
			<ul>
				<li>
					<div class="li-item"><a href="" class="icon-menu ico-scholl"></a></div>
					<div class="li-text"><a href="">Edubox<p>Modulo de gesti&oacute;n educativa.</p></a></div>
				</li>
				<li>
					<div class="li-item"><a href="" class="icon-menu ico-box"></a></div>
					<div class="li-text"><a href="">Adbox<p>Modulo de gesti&oacute;n de componetes del sistema en su totalidad</p></a</div>
				</li>
				<li>
					<div class="li-item"><a href="" class="icon-menu ico-ranking"></a></div>
					<div class="li-text"><a href="">ChartBox <p>Modulo de reportes estad&iacute;sticos</p> </a></div>
				</li>
				<li>
					<div class="li-item"><a href="" class="icon-menu ico-student"></a></div>
					<div class="li-text"><a href="">RRHH <p>Modulo de gesti&oacute;n personas naturales y jurídicas</p></a></div>
				</li>
				<li>
					<div class="li-item"><a href="" class="icon-menu ico-gears"></a></div>
					<div class="li-text"><a href="">Adbox <p>Modulo de gesti&oacute;n de componetes del sistema en su totalidad</p></a></div>
				</li>
				<!-- <li><a href="" class="icon-menu ico-box"></a><p>Adbox<br><kbd>Gesti&oacute;n Especial</kbd></p><br></li>
				<li><a href="" class="icon-menu ico-ranking"></a><p>Estad&iacute;sticas<br><kbd>Reportes Generales</kbd></p></li>
				<li><a href="" class="icon-menu ico-student"></a><p>Personas<br><kbd>Gestion de Personal</kbd></p></li>
				<li><a href="" class="icon-menu ico-gears"></a><p>Admin<br><kbd>Gestion Administrativa</kbd></p></li> -->
			</ul>
		</div>
		<!-- <div class="contenedor">
			<div class="ani-cubo">
				<div class="cara cara1">A</div>
				<div class="cara cara1t">AT</div>
			    <div class="cara cara2">B</div>
			    <div class="cara cara2t">BT</div>
			    <div class="cara cara3">C</div>
			    <div class="cara cara4">D</div>
			    <div class="cara cara4t">DT</div>
			    <div class="cara cara5">E</div>
			    <div class="cara cara5t">ET</div>
			    <div class="cara cara6">F</div>
			</div>
		</div> -->
	</section>
{% endblock %}