// FUENTES
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-xfagut');
	src:url('../fonts/icomoon.eot?#iefix-xfagut') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-xfagut') format('woff'),
		url('../fonts/icomoon.ttf?-xfagut') format('truetype'),
		url('../fonts/icomoon.svg?-xfagut#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


// COLORES
plomoF2 = #f2f2f2
plomoC6 = #c6c6c6
plomo47 = #474747
plomo28	= #282828
plomo14 = #141414
azul009 = #0099ff
azul006 = #0068ad
azul003 = #003d66
azul000 = #001e33
rojoF22 = #f22f2f
amarFFC = #ffce00
cyan009	= #0092f4
cyan001 = #f4faff

html
	min-width 100% !important
	height 100% !important
	a
		text-decoration none !important

.body-index
	height 100%
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,azul006), color-stop(100%,rgba(azul003,1))) !important

.body-system
	height 100%
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,azul006), color-stop(100%,rgba(azul003,1))) !important
	// background white
	// background -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,rgba(cyan001,1))) !important

// .body-ini-z100
// 	height 100%
// 	width 100%
// 	z-index 4
// 	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,azul003), color-stop(100%,rgba(0,0,0,0.13))); !important

// HEADEAR
.user-content
	color white
	padding 1em
	// background -webkit-gradient(linear, left top, left bottom, color-stop(0%,azul006), color-stop(100%,rgba(azul003,0.9))) !important
	.logo-adbox
		background transparent
		border-radius 5px
		border 1px dashed white
		float left
		min-width 20%
		position relative
		padding 1em
		text-align center
		a
			color white
			position absolute
			top 0.1em
			font-size 6em
			inline-block

	.user-data
		display inline-block
		line-height 5px
		float right
		text-align right
		padding-top 10px
		width 300px
		.user-name
			font-size 14px
			font-weight bold
		.user-grade
			font-size 12px
			color amarFFC
	.user-avatar
		background transparent
		display inline-block
		float right
		width 40px
		height 40px
		margin-left 10px
		border-radius 50%
		border 1px dashed white
		// img
		// 	border-radius 50%
		// 	height 40px
		// 	margin-left 10px
		// 	width 40px
		&:hover
			opacity 0.8

//MENU OPTIONS
.menu-options
	position absolute
	height 100%
	background azul006
	padding 0 !important
	box-shadow 3px 1px 0px 0px rgba(48, 50, 50, 0.26)
	ul
		.li-logo
			font-family "icomoon"
			font-size 7em
			height 1.5em
			p
				position absolute
			.p1
				-webkit-animation opacity-change-book 5s linear infinite
				&:before
					content "\e605"
			.p2
				-webkit-animation opacity-change-hat 5s linear infinite
				&:before
					content "\e604"
		.li-item
			position relative
			border-bottom azul003 solid 1px
			margin-top 0px !important
			&:hover
				span
					color amarFFC
				// &:after
				// 	border-bottom 10px solid transparent
				// 	border-left 10px solid plomo47
				// 	border-top 10px solid transparent
				// 	content ""
				// 	position absolute
				// 	top 30%
				// 	right -10px
			a
				color white
				width 100%
				&:hover
					background-color azul003
					border-radius 0
			span
				font-size 14px
				margin-right 12px

//ICON MENU
.icon-menu
	font-family "icomoon" !important
	font-size 2em

.ico-student
	&:before
		content "\e669"
.ico-teacher
	&:before
		content "\e62f"		
.ico-nurse
	&:before
		content "\e63f"
.ico-per-general
	&:before
		content "\e664"
.ico-hat
	&:before
		content "\e667"
.ico-foco
	&:before
		content "\e679"
.ico-apod
	&:before
		content "\e663"
.ico-book
	&:before
		content "\e60c"
.ico-print
	&:before
		content "\e60d"
.ico-user
	&:before
		content "\e600"
.ico-coffe
	&:before
		content "\e640"
.ico-scholl
	&:before
		content "\e68c"
.ico-shield
	&:before
		content "\e650"
.ico-star
	&:before
		content "\f005"
.ico-rocket
	&:before
		content "\e653"
.ico-lab
	&:before
		content "\e631"
.ico-archive
	&:before
		content "\e67f"
.ico-lap
	&:before
		content "\e680"
.ico-build
	&:before
		content "\e67b"
.ico-windows
	&:before
		content "\e662"
.ico-calendar
	&:before
		content "\e68d"
.ico-pencil
	&:before
		content "\e668"
.ico-gears
	&:before
		content "\e621"
.ico-search
	&:before
		content "\f002"
.ico-clock
	&:before
		content "\f017"
.ico-book2
	&:before
		content "\e688"
.ico-search-plus
	&:before
		content "\e603"
.ico-ranking
	&:before
		content "\e67e"
.ico-copy
	&:before
		content "\e633"
.ico-field-text
	&:before
		content "\e65d"
.ico-word
	&:before
		content "\e66e"
.ico-excel
	&:before
		content "\e66f"
.ico-pdf
	&:before
		content "\e66d"
.ico-unlink
	&:before
		content "\e64d"
.ico-box
	&:before
		content "\e681"
.ico-book3
	&:before
		content "\e687"
.ico-heart
	&:before
		content "\e691"
.ico-home
	&:before
		content "\e63c"
//LOGIN USER
.lg-user
	height 100%
	margin 0 auto
	text-align center

.imp-lg-top
	border-bottom-right-radius 0px !important
	border-bottom-left-radius 0px !important
	border-bottom none !important
	
.imp-lg-bottom
	border-top-left-radius 0px !important
	border-top-right-radius 0px !important

.btn-section
	font-size 12px
	text-align center
	color white
	p
		font-weight bold
		&:hover
			color rojoF22
			cursor default
	a
		color white
		font-weight bold
		text-decoration none
		&:hover
			color rojoF22
			text-decoration none

.tit-form
	display block
	text-align center
	height 6em
	color white

.tit-section
	display block
	height 10em 
	margin-top 6em
	color amarFFC
	.logos
		font-family "icomoon"
		div
			margin-left auto
			margin-right auto
			left 0
			right 0
			background transparent
			border-radius 50%
			border 2px dashed amarFFC
			font-size 7em
			position absolute
			width 1.5em
			
.edu-logo-lab
	-webkit-animation opacity-change-book 5s linear infinite
	&:before
		content "\e60f"

.edu-logo-hat
	-webkit-animation opacity-change-hat 5s linear infinite
	&:before
		content "\e607"

.btn-enter
	color white
	font-size 5em
	font-family "icomoon"
	// text-shadow 3px 1px 0px 0px rgba(48, 50, 50, 0.26)
	text-shadow: 2px 0px 0px plomo28
	&:before
		content "\e62a"
	&:hover
		border none
		color amarFFC
		text-decoration none
		-webkit-animation cl-change-btn 0.2s

//MENU INDEX
.main-menu
	padding 5em
	width 100%
	margin-top 3em
.main-menu-items
	margin 0 auto
	margin-top 3em
	text-align center
	ul
		list-style none
		.icon-menu
			color plomo28
			font-size 4em
		li
			width 24em
			color white
			display inline-block
			padding 1em
			div
				display inline-block
			&:hover .li-text
				color amarFFC
			&:hover .li-item
				background amarFFC
				-webkit-animation cl-change-btn 0.2s
		.li-item
			height 6em
			width 6em
			border-radius 50%
			background white
			float left
		.li-text
			height 6em
			width 15em
			border-radius 5%
			background plomo28
			float right
			p
				color white
				padding 1em
				font-size 12px
				border-top 1px solid azul006
				text-align justify
			// box-shadow 2px 0px 0px plomo28
			// -webkit-animation ico-border-move 2s infinite
		// &:hover p
		// 	-webkit-animation ico-menu-up 0.2s forwards
		// &:hover .icon-menu
		// 	-webkit-animation ico-menu-scale 2s forwards
// RESPONSIVE
@media screen and (max-width: 768px) {
	// .lg-user{
	// 	height 70%
	// }
	// .btn-section{
	// 	height 30%
	// }
}

// ANIAMCIONES
@keyframes ico-border-move {
	0%{
		border-radius 50%
		border 1px solid white
		transform rotateY(100px)
		// background white
	}50%{
		border 1px solid amarFFC
		border-radius 30%
		transform rotateY(10px)
	}100%{
		// background rojoF22
		border-radius 50%
		border 1px solid white
		transform rotateY(10px)
	}
}

@keyframes ico-menu-up2 {
	0%{opacity: 1;transform: translateY(10px);}
	50%{opacity: 1;}
	100%{opacity: 1;transform: translateY(145px);}
}
@keyframes ico-menu-up {
	0%{opacity: 1;transform: translateY(145px);}
	50%{opacity: 1;}
	100%{opacity: 1;transform: translateY(10px);}
}

@keyframes ico-menu-scale {
	0%{font-size: 11em;color:white;}
	30%{font-size: 6em;color:plomo14;}
	100%{font-size: 6em;color:plomo14;}
}

@keyframes ico-menu-scale2 {
	0%{font-size: 6em;color:plomo14;}
	30%{font-size: 6em;color:plomo14;}
	100%{font-size: 11em;color:white;}
}

@keyframes cl-change-btn {
	0%,20%{transform: scale(0.0);}
	100%{transform: scale(1.0);}
}

@keyframes opacity-change-book {
   	0%  	{ z-index: 0; opacity: 1; transform: scale(0.0)}
   	5%  	{ z-index: 0; opacity: 1; transform: scale(1.0)}
   	44%  	{ z-index: 0; opacity: 1; transform: scale(1.0)}
   	49%  	{ z-index: 0; opacity: 1; transform: scale(0.0)}
   	50%		{ z-index: -1; opacity: 0;}
   	100% 	{ z-index: -1; opacity: 0;}
}
@keyframes opacity-change-hat {
   	0%  	{ z-index: -1; opacity: 0;}
   	49%  	{ z-index: -1; opacity: 0;}
   	50%		{ z-index: 0; opacity: 1; transform: scale(0.0)}
   	55%  	{ z-index: 0; opacity: 1; transform: scale(1.0)}
   	95% 	{ z-index: 0; opacity: 1; transform: scale(1.0)}
   	100% 	{ z-index: -1; opacity: 0; transform: scale(0.0)}
}

//PRUEBA CUBO 
// trasz 	= 32px
// .cara{
// 	margin-left auto
// 	margin-right auto
// 	left 0
// 	right 0
//     position absolute
//     background amarFFC
//     width 60px
//     height 40px
//     opacity 0.98
// }
// .cara1
// 	-webkit-transform translateZ(32px)
// .cara1t
// 	height 25px
// 	-webkit-transform translateZ(40px) translateY(-25px) rotateX(-35deg)
// .cara2
// 	-webkit-transform rotateY(90deg) translateZ(32px)
// .cara2t
// 	height 25px
// 	-webkit-transform rotateY(90deg) translateZ(40px) translateY(-25px) rotateX(-35deg)
// .cara3
// 	-webkit-transform rotateY(90deg) rotateX(90deg) translateZ(32px)
// .cara4
// 	-webkit-transform rotateX(0deg)rotateY(180deg) rotateZ(180deg) translateZ(32px)
// .cara4t
// 	height 25px
// 	-webkit-transform rotateX(0deg)rotateY(180deg) rotateZ(180deg) translateZ(40px) translateY(25px) rotateX(35deg)
// .cara5
// 	-webkit-transform rotateX(90deg) rotateY(-90deg) rotateZ(90deg) translateZ(32px)
// .cara5t
// 	height 25px
// 	-webkit-transform rotateX(90deg) rotateY(-90deg) rotateZ(90deg) translateZ(40px) translateY(-25px) rotateX(-35deg)
// .cara6
// 	background plomo28
// 	height 60px
// 	-webkit-transform rotateX(-90deg) translateZ(10px)

// .ani-cubo{
// 	position absolute
// 	height 100px
// 	border 1px solid black
// 	-webkit-animation-name rotacubo;
//     -webkit-animation-timing-function linear;
//     -webkit-animation-iteration-count infinite;
//     -webkit-animation-duration 12s;
//     -webkit-transform-style preserve-3d;
//     -webkit-transform-origin 35px 35px 0;
// }
    
// .contenedor{
// 	position relative
// 	background rojoF22
// 	width inherit
//     height inherit
//     -webkit-perspective 2000px
// }

// @-webkit-keyframes rotacubo {
//     0% {-webkit-transform: rotateY(0deg) rotateX(20deg);}    
//     100% {-webkit-transform: rotateY(360deg) rotateX(20deg);}
// }